/libs/jni/armeabi-v7a/libgapii.so
/libs/jni/armeabi-v7a/gapir.apk
### Gradle template
.gradle/
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
### Java template
*.class
bin/
gen/

# Package Files #
*.jar
*.war
*.ear

# IDE files
.settings/
.idea/
.classpath
.project
*.iml

# Others
local.properties